<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Footer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="page basicpage">
    <div class="root container responsivegrid">
        <div class="cmp-container">
            <div class="aem-footer">
                <footerview>
                    <footer class="footer-distributed"
                        data-virtual-assistant="{&quot;name&quot;:&quot;virtualassistant&quot;,&quot;planName&quot;:&quot;&quot;,&quot;enabled&quot;:true,&quot;openNewWindow&quot;:false,&quot;hasMultiplePlans&quot;:false,&quot;hasSubMenu&quot;:false,&quot;displayName&quot;:&quot;Virtual Assistant&quot;,&quot;fullPath&quot;:&quot;https://member-sit7.bcbsm.com/mpa/responsive/#/Home/virtualassistant&quot;,&quot;show&quot;:true,&quot;showPopup&quot;:true,&quot;ariaLabel&quot;:&quot;Virtual Assistant&quot;,&quot;showMobile&quot;:false,&quot;isPlanItem&quot;:false,&quot;showDesktop&quot;:false}">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="footer_content">
                                        <ul>
                                            <li class="showInline  ">
                                                <a href="https://member-sit7.bcbsm.com/mpa/responsive/#/SiteMap">Site
                                                    Map</a>
                                            </li>

                                            <li class="showInline  ">
                                                <a href="https://member-sit7.bcbsm.com/mpa/responsive/#/ContactUs">Contact
                                                    Us</a>
                                            </li>

                                            <li class="showInline  ">
                                                <a target="_blank"
                                                    href="https://www.bcbsm.com/content/microsites/health-care-fraud/en/index.html">Fraud</a>
                                            </li>

                                            <li class="showInline  ">
                                                <a target="_blank"
                                                    href="https://www.bcbsm.com/index/common/important-information/terms-and-conditions.html">Terms
                                                    and Conditions</a>
                                            </li>

                                            <li class="showInline  ">
                                                <a href="#leavePageModal" class="show-popup"
                                                    data-aria-label="Website Feedback"
                                                    data-href="https://member-sit7.bcbsm.com/mpa/responsive/#/Home/websitefeedback"
                                                    data-toggle="modal">Website Feedback</a>
                                            </li>
                                        </ul>
                                        <p class="minor_footer">
                                            ©1996 - 2020 Blue Cross Blue Shield of Michigan and Blue Care Network are
                                            nonprofit corporations and independent licensees of the Blue Cross and Blue
                                            Shield Association. State and Federal laws prohibit unauthorized access to
                                            private health information and violators will be prosecuted. Our website and
                                            information may not be viewable on all mobile devices.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                    <a role="button" tabindex="0" aria-label="Back to top" id="toTop" class="scrollup gaTrackElement">
                        <span class="fa-stack fa-lg">
                            <img alt="Scroll up the page" class="icon_up_btn"
                                src="/amslibs/content/dam/memberportal/search-online-benefits/icon_up.png">
                        </span>
                    </a>
                    <a aria-label="Open virtual assistant" id="virtual-assistant" href="#leavePageModal"
                        data-toggle="modal" data-aria-label="Open virtual assistant"
                        class="icon_sb_container show-popup at_the_top"
                        data-href="https://member-sit7.bcbsm.com/mpa/responsive/#/Home/virtualassistant">
                        <img class="icon_sb" src="/amslibs/content/dam/memberportal/search-online-benefits/sb-icon.png"
                            alt="Virtual Assistant">
                        <img class="sb_title hidd_sm"
                            src="/amslibs/content/dam/memberportal/search-online-benefits/sb-title.png" alt="abc"
                            style="display: none;">
                    </a>
                </footerview>
            </div>
        </div>
    </div>
</body>

</html>