<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>cmp-searchresultlist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="page basicpage">
    <div class="root container responsivegrid">
        <div class="cmp-container">
            <div class="container responsivegrid">
                <div class="cmp-container">
                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                        <div class="searchresultlist aem-GridColumn aem-GridColumn--default--12">

                            <!-- Component HTML Goes here -->
                            <section class="cmp-searchresultlist">
                                <div class="cmp-searchresultlist_heading">
                                    <h3>Related Entries</h3>
                                </div>
                                <div class="cmp-searchresultlist_block">
                                    <div class="cmp-searchresultlist_items">
                                        <div class="headline">General Surgery</div>
                                        <h5><a href="#" aria-label="surgery">Adhesion Surgery (Abdominal)</a></h5>
                                        <div class="cmp-text__paragraph">
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                                                illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                                                explicabo.</p>
                                            <button class="show-more_less">Read more</button>
                                        </div>
                                    </div>
                                    <div class="cmp-searchresultlist_items">
                                        <div class="headline">Orthopedic Surgery</div>
                                        <h5><a href="#" aria-label="surgery">Bone Surgery, Thigh</a></h5>
                                        <div class="cmp-text__paragraph">
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                                                illo inventore veritatis.</p>
                                            <button class="show-more_less">Read more</button>
                                        </div>
                                    </div>
                                    <div class="cmp-searchresultlist_items">
                                        <div class="headline">Procedure</div>
                                        <h5><a href="#" aria-label="surgery">ACL Reconstruction Surgery</a></h5>
                                        <div class="cmp-text__paragraph">
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                                                quae.</p>
                                            <button class="show-more_less">Read more</button>
                                        </div>
                                    </div>
                                    <div class="cmp-searchresultlist_items">
                                        <div class="headline">Neurosurgery</div>
                                        <h5><a href="#" aria-label="surgery">Brain Surgery</a></h5>
                                        <div class="cmp-text__paragraph">
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                accusantium doloremque lau.</p>
                                            <button class="show-more_less">Read more</button>
                                        </div>
                                    </div>
                                    <div class="cmp-searchresultlist_items">
                                        <div class="headline">Screening</div>
                                        <h5><a href="#" aria-label="surgery">Protein Electrophoresis Test
                                            (Blood)</a></h5>
                                        <div class="cmp-text__paragraph">
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                                accusantium.</p>
                                            <button class="show-more_less">Read more</button>
                                        </div>
                                    </div>
                                    <div class="cmp-searchresultlist_items">
                                        <div class="headline">Bloodwork</div>
                                        <h5><a href="#" aria-label="surgery">Potassium Test (Blood)</a></h5>
                                        <div class="cmp-text__paragraph">
                                            <p>Sed ut perspiciatis unde omnis iste.</p>
                                            <button class="show-more_less">Read more</button>
                                        </div>
                                    </div>
                                    <div class="cmp-searchresultlist_items">
                                        <div class="headline">Knee Replacement</div>
                                        <h5><a href="#" aria-label="surgery">Artificial Joint Repair/Revision, Hip
                                            or Knee</a></h5>
                                        <div class="cmp-text__paragraph">
                                            <p>Sed ut perspiciatis.</p>
                                            <button class="show-more_less">Read more</button>
                                        </div>
                                    </div>
                                </div>
                                <nav aria-label="...">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item disabled">
                                            <div class="page-link" tabindex="-1">Prev</div>
                                        </li>
                                        <li class="page-item">
                                            <div class="page-link" tabindex="0">1</div>
                                        </li>
                                        <li class="page-item active">
                                            <div class="page-link" tabindex="0">2 <span class="sr-only">(current)</span>
                                            </div>
                                        </li>
                                        <li class="page-item">
                                            <div class="page-link" tabindex="0">3</div>
                                        </li>
                                        <li class="page-item ellipsis">...</li>
                                        <li class="page-item">
                                            <div class="page-link" tabindex="0">10</div>
                                        </li>
                                        <li class="page-item">
                                            <div class="page-link" tabindex="0">Next</div>
                                        </li>
                                    </ul>
                                    <div class="pagination_footer justify-content-center">1-8 of 15</div>
                                </nav>
                            </section>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>