<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>cmp-instructionalbanner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="page basicpage">
    <div class="root container responsivegrid">
        <div class="cmp-container">
            <div class="container responsivegrid">
                <div class="cmp-container">
                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                        <div class="instructionalbanner aem-GridColumn aem-GridColumn--default--12">

                            <!-- Component HTML Goes here -->
                            <section class="cmp-instructionalbanner"
                                style="background-image: url(./static/images/howto_stethoscope_bg.png)">
                                <div class="cmp-instructionalbanner_block" style="background-color: #064c7b;">
                                    <img class="cmp-instructionalbanner_icon" src="./static/images/stethoscope.png"
                                        alt="Stethoscope Icon" />
                                    <div class="cmp-text__paragraph">
                                        Search for a procedure and select one from our results, then you can choose an
                                        in-network provider to
                                        get your detailed cost estimate
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>