<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>cmp-newYearTransitionMessage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="page basicpage">
    <div class="root container responsivegrid">
        <div class="cmp-container">
            <div class="container responsivegrid">
                <div class="cmp-container">
                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                        <div class="newYearTransitionMessage aem-GridColumn aem-GridColumn--default--12">

                            <!-- Component HTML Goes here -->
                            <section class="cmp-newYearTransitionMessage">
                                <!-- Placeholder Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target=".newYearTransitionMessageModal">
                                    Click to launch sample message
                                </button>

                                <div class="modal fade newYearTransitionMessageModal" tabindex="-1"
                                    aria-labelledby="newYearTransitionMessageModal" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <i class="fal fa-times"></i>
                                                </button>
                                                <h2>Your 2020 benefits aren't loaded</h2>
                                                <div class="message-description">
                                                    <p>
                                                        We do not yet have access to your 2020 plan benefits so you will
                                                        not be able to get a detailed cost estimate for procedures until
                                                        these benefits are loaded into our system. However, you can
                                                        still get estimated treatment costs for different providers.
                                                        Treatment costs do not take your plan benefits or plan usage
                                                        into account but rather show you what providers and facilities
                                                        are charging for these services.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" data-dismiss="modal" aria-label="Close">Okay, Got
                                                    It</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>