<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>cmp-costExplanation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="page basicpage">
    <div class="root container responsivegrid">
        <div class="cmp-container">
            <div class="container responsivegrid">
                <div class="cmp-container">
                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">

                        <!-- Not Covered Scenario -->
                        <div class="costExplanation aem-GridColumn aem-GridColumn--default--12">

                            <!-- Component HTML Goes here -->
                            <section class="cmp-costExplanation">
                                <div class="cmp-costExplanation_main-description">
                                    Viewing for <strong>Noah's ACL Reconstruction Surgery</strong> at <strong>Beaumont
                                        Hospital, Troy</strong>
                                </div>
                                <div class="cmp-costExplanation_progressbar">
                                    <div class="progress" tabindex="0">
                                        <div class="sr-only">You pay $34,707 and we pay anything as you have BCBSM as a
                                            secondary insurance of total $34,707 surgery cost.
                                        </div>
                                        <div class="progress-bar you-pay" role="progressbar" style="max-width: 100%"
                                            aria-hidden="true">
                                            <span class="tool-tip you-pay">$34,707</span>
                                        </div>
                                        <div class="progress-bar we-pay" role="progressbar" style="max-width: 0%"
                                            aria-hidden="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="cmp-costExplanation_progressbar-legends">
                                    <div>
                                        <div class="cmp-costExplanation_progressbar-legend-you-pay">
                                            <div class="legend"></div>
                                            You Pay* (<span>$34,707</span>)
                                        </div>
                                        <div class="cmp-costExplanation_progressbar-legend-we-pay">
                                            <div class="legend not-covered-legend"></div>
                                            We Pay (<span>$0</span>)
                                        </div>
                                    </div>
                                    <div class="cmp-costExplanation_progressbar-legend-total">
                                        <div class="legend"></div>
                                        Total (<span>$34,707</span>)
                                    </div>
                                </div>

                                <div class="cmp-costExplanation_cost-overview-container">
                                    <ul class="cmp-costExplanation_cost-overview-block">
                                        <li class="cmp-costExplanation_cost-total">
                                            <div>Total Average Price</div>
                                            <div>
                                                <span>$34,707</span>
                                            </div>
                                        </li>
                                        <li class="cmp-costExplanation_cost-we-pay not-covered-border-left">
                                            <div>We pay</div>
                                            <div>
                                                <i class="fal fa-minus" aria-hidden="true"></i>
                                                <span>
                                                    $0
                                                </span>
                                            </div>
                                        </li>
                                        <li class="cmp-costExplanation_cost-you-pay">
                                            <div>You pay*</div>
                                            <div>
                                                <span>$34,707</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="cmp-costExplanation_cost-breakdown-heading">
                                    How your costs break down
                                </div>

                                <div class="cmp-costExplanation_cost-breakdown-container">
                                    <ul class="cmp-costExplanation_cost-breakdown-block">
                                        <li class="cmp-costExplanation_cost-breakdown-copay">
                                            <div>You're copay applied to this service</div>
                                            <div>
                                                <span>N/A</span>
                                            </div>
                                        </li>
                                        <li class="cmp-costExplanation_cost-breakdown-deductible">
                                            <div>You're deductible applied to this service</div>
                                            <div>
                                                <span>N/A</span>
                                            </div>
                                        </li>
                                        <li class="cmp-costExplanation_cost-breakdown-share">
                                            <div>You're share of cost (20% co-insurance)</div>
                                            <div>
                                                <span>N/A</span>
                                            </div>
                                        </li>
                                        <li class="cmp-costExplanation_cost-breakdown-estimated-cost">
                                            <div>Your estimated out-of-pocket cost</div>
                                            <div>
                                                <span>$34,707</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="cmp-costExplanation_disclaimer-heading">
                                    Disclaimer
                                </div>
                                <div class="cmp-costExplanation_disclaimer-description">
                                    <p>
                                        <span class="disclaimer">
                                            *This is an estimate of what you'll pay after insurance. It's based on the
                                            average total cost charged to our members for the same service or procedure
                                            at this provider. Your actual cost may be different.
                                        </span>
                                    </p>
                                    <p>
                                        <span class="disclaimer">
                                            What this cost estimate includes: The estimate includes all costs from
                                            check-in to check-out. Some services need approval.
                                        </span>
                                    </p>
                                </div>
                            </section>
                        </div>

                        <!-- Covered Scenario -->
                        <div class="costExplanation aem-GridColumn aem-GridColumn--default--12">

                            <!-- Component HTML Goes here -->
                            <section class="cmp-costExplanation">
                                <div class="cmp-costExplanation_main-description">
                                    Viewing for <strong>Noah's ACL Reconstruction Surgery</strong> at <strong>Beaumont
                                        Hospital, Troy</strong>
                                </div>
                                <div class="cmp-costExplanation_progressbar">
                                    <div class="progress" tabindex="0">
                                        <div class="sr-only">You pay $1,256 and we pay $33,451 of total $34,707 surgery
                                            cost.
                                        </div>
                                        <div class="progress-bar you-pay" role="progressbar" aria-hidden="true">
                                            <span class="tool-tip you-pay">$1,256</span>
                                        </div>
                                        <div class="progress-bar we-pay" role="progressbar" aria-hidden="true">
                                            <div class="tool-tip we-pay">$33,451</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cmp-costExplanation_progressbar-legends">
                                    <div>
                                        <div class="cmp-costExplanation_progressbar-legend-you-pay">
                                            <div class="legend"></div>
                                            You Pay* (<span>$1,256</span>)
                                        </div>
                                        <div class="cmp-costExplanation_progressbar-legend-we-pay">
                                            <div class="legend"></div>
                                            We Pay (<span>$33,451</span>)
                                        </div>
                                    </div>
                                    <div class="cmp-costExplanation_progressbar-legend-total">
                                        <div class="legend"></div>
                                        Total (<span>$34,707</span>)
                                    </div>
                                </div>

                                <div class="cmp-costExplanation_cost-overview-container">
                                    <ul class="cmp-costExplanation_cost-overview-block">
                                        <li class="cmp-costExplanation_cost-total">
                                            <div>Total Average Price</div>
                                            <div>
                                                <span>$34,707</span>
                                            </div>
                                        </li>
                                        <li class="cmp-costExplanation_cost-we-pay">
                                            <div>We pay</div>
                                            <div>
                                                <i class="fal fa-minus" aria-hidden="true"></i>
                                                <span>$33,451</span>
                                            </div>
                                        </li>
                                        <li class="cmp-costExplanation_cost-you-pay">
                                            <div>You pay*</div>
                                            <div>
                                                <span>$1,256</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="cmp-costExplanation_cost-breakdown-heading">
                                    How your costs break down
                                </div>

                                <div class="cmp-costExplanation_cost-breakdown-container">
                                    <ul class="cmp-costExplanation_cost-breakdown-block">
                                        <li class="cmp-costExplanation_cost-breakdown-copay">
                                            <div>You're copay applied to this service</div>
                                            <div>
                                                <span>N/A</span>
                                            </div>
                                        </li>
                                        <li class="cmp-costExplanation_cost-breakdown-deductible">
                                            <div>You're deductible applied to this service</div>
                                            <div>
                                                <i class="fal fa-plus" aria-hidden="true"></i>
                                                <span>$898</span>
                                            </div>
                                        </li>
                                        <li class="cmp-costExplanation_cost-breakdown-share">
                                            <div>You're share of cost (20% co-insurance)</div>
                                            <div>
                                                <i class="fal fa-plus" aria-hidden="true"></i>
                                                <span>$358</span>
                                            </div>
                                        </li>
                                        <li class="cmp-costExplanation_cost-breakdown-estimated-cost">
                                            <div>Your estimated out-of-pocket cost</div>
                                            <div>
                                                <span>$1,256</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="cmp-costExplanation_disclaimer-heading">
                                    Disclaimer
                                </div>
                                <div class="cmp-costExplanation_disclaimer-description">
                                    <p>
                                        <span class="disclaimer">
                                            *This is an estimate of what you'll pay after insurance. It's based on the
                                            average total cost charged to our members for the same service or procedure
                                            at this provider. Your actual cost may be different.
                                        </span>
                                    </p>
                                    <p>
                                        <span class="disclaimer">
                                            What this cost estimate includes: The estimate includes all costs from
                                            check-in to check-out. Some services need approval.
                                        </span>
                                    </p>
                                </div>
                            </section>
                        </div>

                        <!-- Covered as Secondary Insurance Scenario -->
                        <div class="costExplanation aem-GridColumn aem-GridColumn--default--12">

                            <!-- Component HTML Goes here -->
                            <section class="cmp-costExplanation">
                                <div class="cmp-costExplanation_main-description">
                                    Viewing for <strong>Noah's ACL Reconstruction Surgery</strong> at <strong>Beaumont
                                        Hospital, Troy</strong>
                                </div>
                                <div class="cmp-costExplanation_progressbar">
                                    <div class="progress" tabindex="0">
                                        <div class="sr-only">You pay $34,707 and we pay anything as you have BCBSM as a
                                            secondary insurance of total $34,707 surgery cost.
                                        </div>
                                        <div class="progress-bar you-pay" role="progressbar" style="max-width: 100%"
                                            aria-hidden="true">
                                            <span class="tool-tip you-pay">$34,707</span>
                                        </div>
                                        <div class="progress-bar we-pay" role="progressbar" style="max-width: 0%"
                                            aria-hidden="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="cmp-costExplanation_progressbar-legends">
                                    <div>
                                        <div class="cmp-costExplanation_progressbar-legend-you-pay">
                                            <div class="legend"></div>
                                            You Pay* (<span>$34,707</span>)
                                        </div>
                                        <div class="cmp-costExplanation_progressbar-legend-we-pay">
                                            <div class="legend not-covered-cob-legend"></div>
                                            We Pay (<span>$0</span>)
                                        </div>
                                    </div>
                                    <div class="cmp-costExplanation_progressbar-legend-total">
                                        <div class="legend"></div>
                                        Total (<span>$34,707</span>)
                                    </div>
                                </div>

                                <div class="cmp-costExplanation_cost-overview-container">
                                    <ul class="cmp-costExplanation_cost-overview-block">
                                        <li class="cmp-costExplanation_cost-total">
                                            <div>Total Average Price</div>
                                            <div>
                                                <span>$34,707</span>
                                            </div>
                                        </li>
                                        <li class="cmp-costExplanation_cost-we-pay not-covered-cob-border-left">
                                            <div>We pay</div>
                                            <div>
                                                <i class="fal fa-minus" aria-hidden="true"></i>
                                                <span>
                                                    <i class="fas fa-exclamation-triangle" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                        </li>
                                        <li class="cmp-costExplanation_cost-you-pay">
                                            <div>You pay*</div>
                                            <div>
                                                <span>$34,707</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="cmp-costExplanation_cost-breakdown-heading">
                                    How your costs break down
                                </div>

                                <div class="cmp-costExplanation_cost-breakdown-container">
                                    <ul class="cmp-costExplanation_cost-breakdown-block">
                                        <li class="cmp-costExplanation_cost-breakdown-copay">
                                            <div>You're copay applied to this service</div>
                                            <div>
                                                <span>N/A</span>
                                            </div>
                                        </li>
                                        <li class="cmp-costExplanation_cost-breakdown-deductible">
                                            <div>You're deductible applied to this service</div>
                                            <div>
                                                <span>N/A</span>
                                            </div>
                                        </li>
                                        <li class="cmp-costExplanation_cost-breakdown-share">
                                            <div>You're share of cost (20% co-insurance)</div>
                                            <div>
                                                <span>N/A</span>
                                            </div>
                                        </li>
                                        <li class="cmp-costExplanation_cost-breakdown-estimated-cost">
                                            <div>Your estimated out-of-pocket cost</div>
                                            <div>
                                                <span>$34,707</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="cmp-costExplanation_disclaimer-heading">
                                    Disclaimer
                                </div>
                                <div class="cmp-costExplanation_disclaimer-description">
                                    <p>
                                        <span class="disclaimer">
                                            *You Pay - This is an estimate of what you'll pay after insurance. Its based
                                            on the average total cost charged to our members for the same service or
                                            procedure at this provider. Your actual cost may be different.
                                        </span>
                                    </p>
                                    <p>
                                        <span class="disclaimer">
                                            What this cost estimate includes: The estimate includes all costs from
                                            check-in to check-out. Some services need approval.
                                        </span>
                                    </p>
                                    <p>
                                        <span class="cob fas"></span>
                                        <span class="disclaimer">
                                            *Insurance Pays - You have other primary coverage which may pay but would
                                            not be reflected in your cost.
                                        </span>
                                    </p>
                                    <p>
                                        <span class="not-covered fas"></span>
                                        <span class="disclaimer">
                                            *This procedure is not a covered benefit of your insurance. Some exceptions
                                            may apply.
                                        </span>
                                    </p>
                                </div>
                            </section>
                        </div>
                        <script>
                            $(document).ready(function(){
                                const youPayProgressBarWidth = 15,
                                    youPayTooltipWidth = -$('.you-pay .tool-tip').outerWidth() + 1,
                                    wePayProgressBarWidth = 85;

                                if (youPayProgressBarWidth < 20) {
                                    $('.you-pay .tool-tip').css('right', youPayTooltipWidth);
                                    $('.you-pay .tool-tip').addClass('less-width');
                                }
                                $('.progress-bar.you-pay').css('max-width', youPayProgressBarWidth + '%');
                                $('.progress-bar.we-pay').css('max-width', wePayProgressBarWidth + '%');
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>