<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>cmp-procedureProviderDetails</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>

<body class="page basicpage">
<div class="root container responsivegrid">
    <div class="cmp-container">
        <div class="container responsivegrid">
            <div class="cmp-container">
                <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                    <div class="procedureProviderDetails aem-GridColumn aem-GridColumn--default--12">

                        <!-- Component HTML Goes here -->
                        <section class="cmp-procedureProviderDetails container-fluid">
                            <div class="row">
                                <div class="cmp-procedureDescription_block col-md-7">
                                    <h2 class="cmp-procedureDescription_heading">
                                        Your Estimated Cost
                                    </h2>
                                    <div class="cmp-text__paragraph">
                                        <p>for <strong>ACL Reconstruction Surgery</strong> at <strong>Beaumont Hospital,
                                            Troy</strong></p>
                                    </div>
                                </div>
                                <div class="cmp-procedureProviderDetails_container col-md-5 offset-lg-1 col-lg-4">
                                    <div class="cmp-providerDetails_headline">
                                        Provider
                                    </div>
                                    <div class="cmp-procedureProviderDetails_block">
                                        <div class="cmp-procedureProviderDetails_icon-container">
                                            <div class="cmp-procedureProviderDetails_icon-block">
                                                <img src="./static/images/Provider_Doctors_Icon_v1_2x.png"
                                                     alt="Doctors Icon"/>
                                            </div>
                                        </div>
                                        <div class="cmp-procedureProviderDetails_provider-block">
                                            <div class="cmp-providerDetails_provider-icon-heading">
                                                <img class="cmp-providerDetails_provider-icon"
                                                     src="./static/images/Provider_Facility_Icon_v3_2x.png"
                                                     alt="Facility Icon">
                                                <h4 class="cmp-providerDetails_provider-heading">
                                                    Beaumont Hospital - Troy
                                                </h4>
                                            </div>
                                            <div class="cmp-providerDetails_provider-address">
                                                murray hospital,44201 Dequindre Rd ,Troy
                                            </div>
                                            <div class="cmp-providerDetails_provider-misc">
                                                <div class="cmp-providerDetails_provider-phone">
                                                    <i class="fas fa-phone-alt" aria-hidden="true"></i>
                                                    <a href="tel:(248) 964-5000">(248) 964-5000</a>
                                                </div>
                                                <div class="cmp-providerDetails_provider-distance">
                                                    <i class="fas fa-map-marker" aria-hidden="true"></i>
                                                    3.1 mi
                                                </div>
                                                <div class="cmp-providerDetails_provider-rating">
                                                    <i class="fas fa-star" aria-hidden="true"></i>
                                                    1.5
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>