<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>cmp-search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="page basicpage">
    <div class="root container responsivegrid">
        <div class="cmp-container">
            <div class="container responsivegrid">
                <div class="cmp-container">
                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                        <div class="search aem-GridColumn aem-GridColumn--default--12">

                            <!-- Component HTML Goes here -->
                            <section class="cmp-search" role="search">
                                <div class="cmp-search_container">
                                    <h4>What procedure are you looking to get a cost estimate for?</h4>
                                    <div class="cmp-search_form">
                                        <div class="cmp-search_section">
                                            <div class="cmp-search_block">
                                                <i class="fal fa-search" aria-hidden="true"></i>
                                                <input class="cmp-search_input" type="text" name="fulltext"
                                                       aria-label="Search"
                                                       placeholder="Try &quot;MRI&quot; or search using a procedure code &quot;73221&quot;"
                                                       aria-autocomplete="list"
                                                       autocomplete="off">
                                                <div class="cmp-search_typeahead-result-block">
                                                    <div class="cmp-search_typeahead-no-result-text">
                                                        Type at least two letters of a procedure ("MRI") or code
                                                        ("73221") and
                                                        we
                                                        can start finding some matches for you
                                                    </div>
                                                    <ul class="cmp-search_typeahead-result-list">
                                                        <li class="cmp-search_typeahead-result-item" tabindex="0">
                                                            <span class="cmp-search_typeahead-result-content">
                                                                <i class="fal fa-search" aria-hidden="true"></i>
                                                                <strong>acl</strong> repair uses a
                                                            </span>
                                                        </li>
                                                        <li class="cmp-search_typeahead-result-item" tabindex="0">
                                                            <span class="cmp-search_typeahead-result-content">
                                                                <i class="fal fa-search" aria-hidden="true"></i>
                                                                <strong>acl</strong> repair uses
                                                            </span>
                                                        </li>
                                                        <li class="cmp-search_typeahead-result-item" tabindex="0">
                                                            <span class="cmp-search_typeahead-result-content">
                                                                <i class="fal fa-search" aria-hidden="true"></i>
                                                                <strong>acl</strong> repair by
                                                            </span>
                                                        </li>
                                                        <li class="cmp-search_typeahead-result-item" tabindex="0">
                                                            <span class="cmp-search_typeahead-result-content">
                                                                <i class="fal fa-search" aria-hidden="true"></i>
                                                                <strong>acl</strong> repair
                                                            </span>
                                                        </li>
                                                        <li class="cmp-search_typeahead-result-item" tabindex="0">
                                                            <span class="cmp-search_typeahead-result-content">
                                                                <i class="fal fa-search" aria-hidden="true"></i>
                                                                <strong>acl</strong> in the knee
                                                            </span>
                                                        </li>
                                                        <li class="cmp-search_typeahead-result-item" tabindex="0">
                                                            <span class="cmp-search_typeahead-result-content">
                                                                <i class="fal fa-search" aria-hidden="true"></i>
                                                                <strong>acl</strong> in the
                                                            </span>
                                                        </li>
                                                        <li class="cmp-search_typeahead-result-item" tabindex="0">
                                                            <span class="cmp-search_typeahead-result-content">
                                                                <i class="fal fa-search" aria-hidden="true"></i>
                                                                <strong>acl</strong> in
                                                            </span>
                                                        </li>
                                                        <li class="cmp-search_typeahead-result-item" tabindex="0">
                                                            <span class="cmp-search_typeahead-result-content">
                                                                <i class="fal fa-search" aria-hidden="true"></i>
                                                                <strong>acl</strong>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <button class="cmp-search_clear" aria-label="Clear your search text">
                                                    <i class="fas fa-times-circle" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                            <div class="cmp-search_membership">
                                                <div class="cmp-search_member" tabindex="0">
                                                    <i class="fal fa-user" aria-hidden="true"></i>
                                                    <div class="member-block">
                                                        <div class="headline">for</div>
                                                        <span class="member-active">Noah L.</span>
                                                    </div>
                                                    <i class="fal fa-chevron-down" aria-hidden="true"></i>
                                                </div>
                                                <ul class="cmp-search_memberlist">
                                                    <li class="memberlist-member selected" tabindex="0">
                                                        <i class="fal fa-user" aria-hidden="true"></i>
                                                        <span>Noah L.</span>
                                                        <i class="fal fa-check" aria-hidden="true"></i>
                                                    </li>
                                                    <li class="memberlist-member" tabindex="0">
                                                        <i class="fal fa-user" aria-hidden="true"></i>
                                                        <span>Jane L.</span>
                                                    </li>
                                                    <li class="memberlist-member" tabindex="0">
                                                        <i class="fal fa-user" aria-hidden="true"></i>
                                                        <span>Makayla L.</span>
                                                    </li>
                                                    <li class="memberlist-member" tabindex="0">
                                                        <i class="fal fa-user" aria-hidden="true"></i>
                                                        <span>Jason L.</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <button class="cmp-search_button" name="search_button" aria-disabled="true">
                                                <i class="fal fa-search" aria-hidden="true"></i>
                                                Get Cost
                                            </button>
                                        </div>

                                        <div class="modal cmp-search_modal">
                                            <div class="modal-content">
                                                <div class="cmp-search_field-block">
                                                    <a class="cmp-search_input-back" href="#" aria-label="back">
                                                        <i class="fal fa-arrow-left" aria-hidden="true"></i>
                                                    </a>
                                                    <input class="cmp-search_input-modal" type="text" name="fulltext"
                                                           autofocus
                                                           aria-label="Search"
                                                           placeholder="Type at least two letters of a procedure"
                                                           autocomplete="off"
                                                           />
                                                    <button class="cmp-search_clear"
                                                            aria-label="Clear your search text">
                                                        <i class="fas fa-times-circle" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                                <div class="cmp-search_typeahead-result-block">
                                                    <div class="cmp-search_typeahead-no-result-text">
                                                        <i class="fal fa-search" aria-hidden="true"></i>
                                                        Try searching "MRI" or enter your procedure code "73221"
                                                    </div>
                                                    <ul class="cmp-search_typeahead-result-list">
                                                        <li class="cmp-search_typeahead-result-item" tabindex="0">
                                                            <span class="cmp-search_typeahead-result-content">
                                                                <i class="fal fa-search" aria-hidden="true"></i>
                                                                <strong>acl</strong> repair uses a
                                                            </span>
                                                        </li>
                                                        <li class="cmp-search_typeahead-result-item" tabindex="0">
                                                            <span class="cmp-search_typeahead-result-content">
                                                                <i class="fal fa-search" aria-hidden="true"></i>
                                                                <strong>acl</strong> repair uses
                                                            </span>
                                                        </li>
                                                        <li class="cmp-search_typeahead-result-item" tabindex="0">
                                                            <span class="cmp-search_typeahead-result-content">
                                                                <i class="fal fa-search" aria-hidden="true"></i>
                                                                <strong>acl</strong> repair by
                                                            </span>
                                                        </li>
                                                        <li class="cmp-search_typeahead-result-item" tabindex="0">
                                                            <span class="cmp-search_typeahead-result-content">
                                                                <i class="fal fa-search" aria-hidden="true"></i>
                                                                <strong>acl</strong> repair
                                                            </span>
                                                        </li>
                                                        <li class="cmp-search_typeahead-result-item" tabindex="0">
                                                            <span class="cmp-search_typeahead-result-content">
                                                                <i class="fal fa-search" aria-hidden="true"></i>
                                                                <strong>acl</strong> in the knee
                                                            </span>
                                                        </li>
                                                        <li class="cmp-search_typeahead-result-item" tabindex="0">
                                                            <span class="cmp-search_typeahead-result-content">
                                                                <i class="fal fa-search" aria-hidden="true"></i>
                                                                <strong>acl</strong> in the
                                                            </span>
                                                        </li>
                                                        <li class="cmp-search_typeahead-result-item" tabindex="0">
                                                            <span class="cmp-search_typeahead-result-content">
                                                                <i class="fal fa-search" aria-hidden="true"></i>
                                                                <strong>acl</strong> in
                                                            </span>
                                                        </li>
                                                        <li class="cmp-search_typeahead-result-item" tabindex="0">
                                                            <span class="cmp-search_typeahead-result-content">
                                                                <i class="fal fa-search" aria-hidden="true"></i>
                                                                <strong>acl</strong>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>