<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Header</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="page basicpage">
    <div class="root container responsivegrid">
        <div class="cmp-container">
            <div class="aem-header">
                <a tabindex="1" class="skip-main" href="#main-content-start">Skip to main content</a>
                <div class="headerContainer">
                    <div class="container hdd">
                        <header class="top-head">
                            <div class="col-xs-4 pull-left"></div>
                            <a href="/searchonlinebenefit.html" tabindex="1">
                                <div class="bclogo">
                                    <img src="/amslibs/content/dam/memberportal/handbook/logo.png"
                                        aria-label="Blue Cross Blue Shield of Michigan" alt="Image-altText"
                                        id="bclogo-header">
                                </div>
                            </a>
                            <div class="col-xs-10 col-md-7 pull-right eye_brow hidd_sm">
                                <ul class="pull-right sub_settings">
                                    <li class="rght_list no_bod">
                                        <a title="Notifications" class="show-popup" href="#leavePageModal"
                                            data-aria-label="Notifications" aria-expanded="false" tabindex="1"
                                            data-toggle="modal"
                                            data-href="https://member-sit7.bcbsm.com/mpa/responsive/#/Home/notifications">
                                            <span>Notifications</span>
                                        </a>
                                    </li>

                                    <li class="rght_list no_bod">
                                        <a title="Help" href="https://member-sit7.bcbsm.com/mpa/responsive/#/Help"
                                            aria-expanded="false" tabindex="1">
                                            <span>Help</span>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="pull-right sub_settings">
                                    <li class="dropdown account ">
                                        <a tabindex="1" title="Account Settings" href="#" class="dropdown-toggle "
                                            aria-expanded="false" aria-haspopup="true" data-toggle="dropdown">
                                            Account Settings
                                            <span class="account_sub_text ihpelem">David Frey</span>
                                            <b class="fa fa-cog" aria-hidden="true"></b>
                                            <b class="caret"></b>
                                        </a>
                                        <ul role="menu" class="dropdown-menu">
                                            <li role="presentation">
                                                <a tabindex="1" title="Account Overview"
                                                    href="https://member-sit7.bcbsm.com/mpa/responsive/#/Account/accountoverview"
                                                    role="menuitem">
                                                    Account Overview
                                                </a>
                                            </li>
                                            <li role="presentation">
                                                <a tabindex="1" title="Who's Covered"
                                                    href="https://member-sit7.bcbsm.com/mpa/responsive/#/Account/whoscovered"
                                                    role="menuitem">
                                                    Who's Covered
                                                </a>
                                            </li>
                                            <li role="presentation">
                                                <a tabindex="1" title="My Addresses"
                                                    href="https://member-sit7.bcbsm.com/mpa/responsive/#/Account/myaddresses"
                                                    role="menuitem">
                                                    My Addresses
                                                </a>
                                            </li>
                                            <li role="presentation">
                                                <a tabindex="1" title="Permissions"
                                                    href="https://member-sit7.bcbsm.com/mpa/responsive/#/Account/permissions"
                                                    role="menuitem">
                                                    Permissions
                                                </a>
                                            </li>
                                            <li role="presentation">
                                                <a tabindex="1" title="Coordination of Benefits"
                                                    href="https://member-sit7.bcbsm.com/mpa/responsive/#/MyCoverage/coordinationofbenefits"
                                                    role="menuitem">
                                                    Coordination of Benefits
                                                </a>
                                            </li>
                                            <li role="presentation">
                                                <a tabindex="1" title="Communication Preferences"
                                                    href="https://member-sit7.bcbsm.com/mpa/responsive/#/Account/communicationpreference"
                                                    role="menuitem">
                                                    Communication Preferences
                                                </a>
                                            </li>
                                            <li role="presentation">
                                                <a tabindex="1" title="Paperless Options"
                                                    href="https://member-sit7.bcbsm.com/mpa/responsive/#/Account/communicationpreference/paperless"
                                                    role="menuitem">
                                                    Paperless Options
                                                </a>
                                            </li>
                                            <li role="presentation" class="show-mobile">
                                                <a tabindex="1" title="Message Center"
                                                    href="https://member-sit7.bcbsm.com/mpa/responsive/#/Account/messagecenter"
                                                    role="menuitem">
                                                    Message Center
                                                </a>
                                            </li>
                                            <li role="presentation">
                                                <a tabindex="1" title="Register Eligible Members"
                                                    href="https://member-sit7.bcbsm.com/mpa/responsive/#/Account/registerdependents"
                                                    role="menuitem">
                                                    Register Eligible Members
                                                </a>
                                            </li>
                                            <li role="presentation">
                                                <a tabindex="1" title="Invite Eligible Members"
                                                    href="https://member-sit7.bcbsm.com/mpa/responsive/#/Account/invitefamily"
                                                    role="menuitem">
                                                    Invite Eligible Members
                                                </a>
                                            </li>
                                            <li role="presentation">
                                                <a tabindex="1" title="ID Cards"
                                                    href="https://member-sit7.bcbsm.com/mpa/responsive/#/IdCards"
                                                    role="menuitem">
                                                    ID Cards
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="rght_list ">
                                        <a tabindex="1" title="Messages"
                                            href="https://member-sit7.bcbsm.com/mpa/responsive/#/Account/messagecenter">
                                            Messages
                                        </a>
                                    </li>
                                    <li class="rght_list show-mobile">
                                        <a tabindex="1" title="Contact Us"
                                            href="https://member-sit7.bcbsm.com/mpa/responsive/#/ContactUs">
                                            Contact Us
                                        </a>
                                    </li>
                                    <li class="rght_list ">
                                        <a tabindex="1" title="Log Out" href="#leavePageModal" class=" show-popup"
                                            data-aria-label="Log Out"
                                            data-href="https://member-sit7.bcbsm.com/mpa/responsive/#/Home/logout"
                                            data-toggle="modal">
                                            Log Out
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </header>

                        <a class="show-popup" href="#leavePageModal" data-toggle="modal"
                            data-href="https://member-sit7.bcbsm.com/mpa/responsive/#/Home/notifications"
                            data-aria-label="Notifications"><span class="fa fa-bell-o"></span></a>
                        <button type="button" class="navbar-toggle" tabindex="-1">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </div>

                <div class="menubar">
                    <div class="navigationbarContainer">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header"></div>
                            <div class="navbar-collapse collapse" aria-expanded="false">
                                <div class="container">
                                    <ul class="nav navbar-nav navbar-left">
                                        <li class="raillist ">
                                            <a tabindex="1" title="Home" class=" header-menu"
                                                href="https://member-sit7.bcbsm.com/mpa/responsive/#/Home">
                                                <span class="fa fa-home fa_spacing" aria-hidden="true"></span>
                                                Home
                                                <i></i>
                                            </a>
                                        </li>
                                        <li class="dropdown nav-menu">
                                            <a tabindex="1" title="My Coverage" class=" header-menu"
                                                href="https://member-sit7.bcbsm.com/mpa/responsive/#/MyCoverage"
                                                aria-expanded="false" aria-haspopup="true">
                                                <span class="fa fa-id-badge fa_spacing" aria-hidden="true"></span>
                                                My Coverage
                                                <i class="fa fa-caret-down"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li role="presentation" class=" nav-menu-sub-item">
                                                    <a tabindex="1" title="Medical"
                                                        href="https://member-sit7.bcbsm.com/mpa/responsive/#/MyCoverage/2868077858/medical"
                                                        role="menuitem">
                                                        Medical
                                                    </a>
                                                </li>
                                                <li role="presentation" class=" nav-menu-sub-item">
                                                    <a tabindex="1" title="Prescription"
                                                        href="https://member-sit7.bcbsm.com/mpa/responsive/#/MyCoverage/2676698807/prescription"
                                                        role="menuitem">
                                                        Prescription
                                                    </a>
                                                </li>
                                                <li role="presentation" class=" nav-menu-sub-item">
                                                    <a tabindex="1" title="Referrals and Authorizations"
                                                        href="https://member-sit7.bcbsm.com/mpa/responsive/#/MyCoverage/referrals"
                                                        role="menuitem">
                                                        Referrals and Authorizations
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown nav-menu">
                                            <a tabindex="1" title="Claims" class=" header-menu"
                                                href="https://member-sit7.bcbsm.com/mpa/responsive/#/Claims"
                                                aria-expanded="false" aria-haspopup="true">
                                                <span class="fa fa-clone fa_spacing" aria-hidden="true"></span>
                                                Claims
                                                <i class="fa fa-caret-down"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li role="presentation" class=" nav-menu-sub-item">
                                                    <a tabindex="1" title="Claims"
                                                        href="https://member-sit7.bcbsm.com/mpa/responsive/#/Claims"
                                                        role="menuitem">
                                                        Claims
                                                    </a>
                                                </li>
                                                <li role="presentation" class=" nav-menu-sub-item">
                                                    <a tabindex="1" title="Explanation of Benefits (EOB)"
                                                        href="https://member-sit7.bcbsm.com/mpa/responsive/#/Eobs"
                                                        role="menuitem">
                                                        Explanation of Benefits (EOB)
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown nav-menu">
                                            <a tabindex="1" title="Doctors &amp;amp; Hospitals" class=" header-menu"
                                                href="https://member-sit7.bcbsm.com/mpa/responsive/#/Providers/finddoctor"
                                                aria-expanded="false" aria-haspopup="true">
                                                <span class="fa fa-plus fa_spacing" aria-hidden="true"></span>
                                                Doctors &amp; Hospitals
                                                <i class="fa fa-caret-down"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li role="presentation" class=" nav-menu-sub-item">
                                                    <a tabindex="1" title="Find a Doctor"
                                                        href="https://member-sit7.bcbsm.com/mpa/responsive/#/Providers/finddoctor"
                                                        role="menuitem">
                                                        Find a Doctor
                                                    </a>
                                                </li>
                                                <li role="presentation" class=" nav-menu-sub-item">
                                                    <a tabindex="1" title="Primary Care Physicians"
                                                        href="https://member-sit7.bcbsm.com/mpa/responsive/#/Providers/primarycarephysicians"
                                                        role="menuitem">
                                                        Primary Care Physicians
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown nav-menu">
                                            <a tabindex="1" title="Health &amp;amp; Well-Being" class=" header-menu"
                                                href="#" aria-expanded="false" aria-haspopup="true">
                                                <span class="fa fa-heart fa_spacing" aria-hidden="true"></span>
                                                Health &amp; Well-Being
                                                <i class="fa fa-caret-down"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li role="presentation" class=" nav-menu-sub-item">
                                                    <a tabindex="1" title="WebMD<sup>&amp;reg;</sup>"
                                                        class="  show-popup " href="#leavePageModal" role="menuitem"
                                                        data-href="https://member-sit7.bcbsm.com/mpa/responsive/#/Home/webmd"
                                                        data-toggle="modal" data-aria-label="WebMD<sup>&amp;reg;</sup>">
                                                        WebMD<sup>®</sup>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="raillist ">
                                            <a tabindex="1" title="Forms" class=" header-menu"
                                                href="https://member-sit7.bcbsm.com/mpa/responsive/#/Forms">
                                                <span class="fa fa-file-o fa_spacing" aria-hidden="true"></span>
                                                Forms
                                                <i></i>
                                            </a>
                                        </li>
                                        <li class="raillist show-mobile">
                                            <a tabindex="1" title="ID Cards" class=" header-menu"
                                                href="https://member-sit7.bcbsm.com/mpa/responsive/#/IdCards">
                                                <span aria-hidden="true"></span>
                                                ID Cards
                                                <i></i>
                                            </a>
                                        </li>
                                        <li class="raillist show-mobile">
                                            <a tabindex="1" title="Contact Us" class=" header-menu"
                                                href="https://member-sit7.bcbsm.com/mpa/responsive/#/ContactUs">
                                                <span aria-hidden="true"></span>
                                                Contact Us
                                                <i></i>
                                            </a>
                                        </li>
                                        <li class="raillist show-mobile">
                                            <a tabindex="1" title="Help" class=" header-menu"
                                                href="https://member-sit7.bcbsm.com/mpa/responsive/#/Help">
                                                <span aria-hidden="true"></span>
                                                Help
                                                <i></i>
                                            </a>
                                        </li>
                                        <li class="  dropdown account">
                                            <a tabindex="1" title="Account Settings" href="#" class=" header-menu"
                                                aria-expanded="false" aria-haspopup="true">
                                                Account Settings
                                                <i class="fa fa-caret-down"></i>
                                            </a>
                                            <ul role="menu" class="dropdown-menu">
                                                <li role="presentation">
                                                    <a tabindex="1" title="Account Overview"
                                                        href="https://member-sit7.bcbsm.com/mpa/responsive/#/Account/accountoverview"
                                                        role="menuitem">
                                                        Account Overview
                                                    </a>
                                                </li>
                                                <li role="presentation">
                                                    <a tabindex="1" title="Who's Covered"
                                                        href="https://member-sit7.bcbsm.com/mpa/responsive/#/Account/whoscovered"
                                                        role="menuitem">
                                                        Who's Covered
                                                    </a>
                                                </li>
                                                <li role="presentation">
                                                    <a tabindex="1" title="My Addresses"
                                                        href="https://member-sit7.bcbsm.com/mpa/responsive/#/Account/myaddresses"
                                                        role="menuitem">
                                                        My Addresses
                                                    </a>
                                                </li>
                                                <li role="presentation">
                                                    <a tabindex="1" title="Permissions"
                                                        href="https://member-sit7.bcbsm.com/mpa/responsive/#/Account/permissions"
                                                        role="menuitem">
                                                        Permissions
                                                    </a>
                                                </li>
                                                <li role="presentation">
                                                    <a tabindex="1" title="Coordination of Benefits"
                                                        href="https://member-sit7.bcbsm.com/mpa/responsive/#/MyCoverage/coordinationofbenefits"
                                                        role="menuitem">
                                                        Coordination of Benefits
                                                    </a>
                                                </li>
                                                <li role="presentation">
                                                    <a tabindex="1" title="Communication Preferences"
                                                        href="https://member-sit7.bcbsm.com/mpa/responsive/#/Account/communicationpreference"
                                                        role="menuitem">
                                                        Communication Preferences
                                                    </a>
                                                </li>
                                                <li role="presentation">
                                                    <a tabindex="1" title="Paperless Options"
                                                        href="https://member-sit7.bcbsm.com/mpa/responsive/#/Account/communicationpreference/paperless"
                                                        role="menuitem">
                                                        Paperless Options
                                                    </a>
                                                </li>
                                                <li role="presentation" class="show-mobile">
                                                    <a tabindex="1" title="Message Center"
                                                        href="https://member-sit7.bcbsm.com/mpa/responsive/#/Account/messagecenter"
                                                        role="menuitem">
                                                        Message Center
                                                    </a>
                                                </li>
                                                <li role="presentation">
                                                    <a tabindex="1" title="Register Eligible Members"
                                                        href="https://member-sit7.bcbsm.com/mpa/responsive/#/Account/registerdependents"
                                                        role="menuitem">
                                                        Register Eligible Members
                                                    </a>
                                                </li>
                                                <li role="presentation">
                                                    <a tabindex="1" title="Invite Eligible Members"
                                                        href="https://member-sit7.bcbsm.com/mpa/responsive/#/Account/invitefamily"
                                                        role="menuitem">
                                                        Invite Eligible Members
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class=" show-desktop rght_list">
                                            <a tabindex="1" title="Messages"
                                                href="https://member-sit7.bcbsm.com/mpa/responsive/#/Account/messagecenter"
                                                class=" header-menu">
                                                Messages
                                                <i class="fa fa-caret-down"></i>
                                            </a>
                                        </li>
                                        <li class="show-mobile show-desktop rght_list">
                                            <a tabindex="1" title="Contact Us"
                                                href="https://member-sit7.bcbsm.com/mpa/responsive/#/ContactUs"
                                                class=" header-menu">
                                                Contact Us
                                                <i class="fa fa-caret-down"></i>
                                            </a>
                                        </li>
                                        <li class="  rght_list">
                                            <a tabindex="1" title="Log Out" href="#leavePageModal"
                                                class="show-popup header-menu" data-aria-label="Log Out"
                                                data-href="https://member-sit7.bcbsm.com/mpa/responsive/#/Home/logout"
                                                data-toggle="modal">
                                                Log Out
                                                <i class="fa fa-caret-down"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>