<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>cmp-singleresult</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="page basicpage">
    <div class="root container responsivegrid">
        <div class="cmp-container">
            <div class="container responsivegrid">
                <div class="cmp-container">
                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                        <div class="singleresult aem-GridColumn aem-GridColumn--default--12">

                            <!-- Component HTML Goes here -->
                            <section class="cmp-singleresult"
                                style="background-image: url(./static/images/howto_stethoscope_bg.png)">
                                <div class="cmp-singleresult_overlay" style="background-color: #064c7b;"></div>
                                <div class="cmp-singleresult_container">
                                    <div class="cmp-singleresult_heading">
                                        <h3 style="color: #ffffff;">Best Match</h3>
                                    </div>
                                    <div class="cmp-singleresult_block">
                                        <div class="cmp-singleresult_img">
                                            <img src="./static/images/GettyImages-592647720.jpg"
                                                alt="Doctor treating patient" />
                                        </div>
                                        <div class="cmp-singleresult_content">
                                            <a href="#">
                                                <div class="cmp-singleresult_link">
                                                    <div class="headline">Procedure</div>
                                                    <h4>ACL Reconstruction Surgery</h4>
                                                    <div class="cmp-text__paragraph">
                                                        <p>Search for a procedure and select one from our results, then
                                                            you can choose an in-network provider to get your detailed
                                                            cost estimate.</p>
                                                    </div>
                                                </div>
                                                <i class="fal fa-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>