<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Accordian</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="page basicpage">
    <div class="root container responsivegrid">
        <div class="cmp-container">
            <div class="container responsivegrid">
                <div class="cmp-container">
                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                        <div class="accordion aem-GridColumn aem-GridColumn--default--12">

                            <!-- Component HTML Goes here -->
                            <section class="cmp-accordion container-fluid">
                                <div class="row">
                                    <div class="cmp-accordion_block">
                                        <div class="cmp-accordion" data-cmp-single-expansion="">
                                            <div class="cmp-accordion__item accordion-hidden Pre-Surgery" data-cmp-hook-accordion="item"
                                                data-cmp-expanded="">
                                                <div class="cmp-accordion__header">
                                                    <button
                                                        class="cmp-accordion__button"
                                                        data-cmp-hook-accordion="button" aria-expanded="false"
                                                        aria-disabled="true">
                                                        <span class="cmp-accordion__title">
                                                            <span class="heading">Pre-Surgery</span>
                                                            <span class="days">36 days</span>
                                                            <span class="amount">$667</span>
                                                        </span>
                                                        <span class="cmp-accordion__icon fal"></span>
                                                    </button>
                                                </div>
                                                <div data-cmp-hook-accordion="panel"
                                                    class="cmp-accordion__panel cmp-accordion__panel--hidden"
                                                    role="region" aria-hidden="false">
                                                    <div class="container responsivegrid">
                                                        <div class="cmp-container">
                                                            <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                                                                <div
                                                                    class="text aem-GridColumn aem-GridColumn--default--12">
                                                                    <div class="cmp-text">
                                                                        <p>Your doctor(s) will perform the procedure you chose. Your surgical team will provide care before and after your surgery.<a
                                                                                href="#"> Learn more </a></p>
                                                                        <p class="textHeading">Consultation and Management<span>$56</span></p>
                                                                        <p class="textContent">During a consultation, your doctor may discuss your treatment plan, give you a physical, recommend health services or equipment, or refer you to other providers.</p>
                                                                    </div>
                                                                    <div class="cmp-text">
                                                                        <p class="textHeading">Facilty Cost<span>$5,207</span></p>
                                                                        <p class="textContent">Your doctor may tell you to go to a specific facility to receive treatment. You may be able to reduce the cost of your treatment by selecting a different facility.<a
                                                                            href="#"> Learn more </a></p>
                                                                    </div>
                                                                    <div class="cmp-text">
                                                                        <p class="textHeading">Procedures<span>$1,749</span</p>
                                                                        <p class="textContent">Your doctor may recommend a procedure in order to better understand, diagnose, or improve your health condition.<a
                                                                            href="#"> Learn more </a></p>
                                                                    </div>
                                                                    <div class="cmp-text">
                                                                        <p class="textHeading">Average Total Cost:<span>$5,531</span></p>
                                                                        <p class="note">for usual mix of services above</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cmp-accordion__item accordion-hidden Surgery" data-cmp-hook-accordion="item">
                                                <div class="cmp-accordion__header">
                                                    <button class="cmp-accordion__button"
                                                        data-cmp-hook-accordion="button" aria-expanded="false">
                                                        <span class="cmp-accordion__title">
                                                            <span class="heading">Surgery</span>
                                                            <span class="days">1 day</span>
                                                            <span class="amount">$5531</span>
                                                        </span>
                                                        <span class="cmp-accordion__icon fal"></span>
                                                    </button>
                                                </div>
                                                <div data-cmp-hook-accordion="panel"
                                                    class="cmp-accordion__panel cmp-accordion__panel--hidden"
                                                    role="region" aria-hidden="false">
                                                    <div class="container responsivegrid">
                                                        <div class="cmp-container">
                                                            <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                                                                <div
                                                                    class="text aem-GridColumn aem-GridColumn--default--12">
                                                                    <div class="cmp-text">
                                                                        <p>Your doctor(s) will perform the procedure you chose. Your surgical team will provide care before and after your surgery.<a
                                                                                href="#"> Learn more </a></p>
                                                                        <p class="textHeading">Consultation and Management<span>$56</span></p>
                                                                        <p class="textContent">During a consultation, your doctor may discuss your treatment plan, give you a physical, recommend health services or equipment, or refer you to other providers.</p>
                                                                    </div>
                                                                    <div class="cmp-text">
                                                                        <p class="textHeading">Facilty Cost<span>$5,207</span></p>
                                                                        <p class="textContent">Your doctor may tell you to go to a specific facility to receive treatment. You may be able to reduce the cost of your treatment by selecting a different facility.<a
                                                                            href="#"> Learn more </a></p>
                                                                    </div>
                                                                    <div class="cmp-text">
                                                                        <p class="textHeading">Procedures<span>$1,749</span</p>
                                                                        <p class="textContent">Your doctor may recommend a procedure in order to better understand, diagnose, or improve your health condition.<a
                                                                            href="#"> Learn more </a></p>
                                                                    </div>
                                                                    <div class="cmp-text">
                                                                        <p class="textHeading">Average Total Cost:<span>$5,531</span></p>
                                                                        <p class="note">for usual mix of services above</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cmp-accordion__item accordion-hidden Follow-up" data-cmp-hook-accordion="item">
                                                <div class="cmp-accordion__header">
                                                    <button class="cmp-accordion__button"
                                                        data-cmp-hook-accordion="button" aria-expanded="false">
                                                        <span class="cmp-accordion__title">
                                                            <span class="heading">Follow-up</span>
                                                            <span class="days">59 days</span>
                                                            <span class="amount">$567</span>
                                                        </span>
                                                        <span class="cmp-accordion__icon fal"></span>
                                                    </button>
                                                </div>
                                                <div data-cmp-hook-accordion="panel"
                                                    class="cmp-accordion__panel cmp-accordion__panel--hidden"
                                                    role="region" aria-hidden="false">
                                                    <div class="container responsivegrid">
                                                        <div class="cmp-container">
                                                            <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                                                                <div
                                                                    class="text aem-GridColumn aem-GridColumn--default--12">
                                                                    <div class="cmp-text">
                                                                        <p>Your doctor(s) will perform the procedure you chose. Your surgical team will provide care before and after your surgery.<a
                                                                                href="#"> Learn more </a></p>
                                                                        <p class="textHeading">Consultation and Management<span>$56</span></p>
                                                                        <p class="textContent">During a consultation, your doctor may discuss your treatment plan, give you a physical, recommend health services or equipment, or refer you to other providers.</p>
                                                                    </div>
                                                                    <div class="cmp-text">
                                                                        <p class="textHeading">Facilty Cost<span>$5,207</span></p>
                                                                        <p class="textContent">Your doctor may tell you to go to a specific facility to receive treatment. You may be able to reduce the cost of your treatment by selecting a different facility.<a
                                                                            href="#"> Learn more </a></p>
                                                                    </div>
                                                                    <div class="cmp-text">
                                                                        <p class="textHeading">Procedures<span>$1,749</span</p>
                                                                        <p class="textContent">Your doctor may recommend a procedure in order to better understand, diagnose, or improve your health condition.<a
                                                                            href="#"> Learn more </a></p>
                                                                    </div>
                                                                    <div class="cmp-text">
                                                                        <p class="textHeading">Average Total Cost:<span>$5,531</span></p>
                                                                        <p class="note">for usual mix of services above</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>