@import "../../site/_variables.scss";
@import "../../site/styles/global.scss";


  .episodicAccordion{
    padding: 2% 0;
    background-color: $bg-accordian;
    .panel-group{
      width: 75%;
      margin: 0px auto;
      .panel-heading{
        position: relative;
        background: $color-background;
        width: 100%;
        margin: 5% 0 0 0;
        box-shadow: 1px 5px 25px $opacity;
        .panel-title{
          margin-top: 2%;
          a{
            text-decoration: none;

            &:hover{
              text-decoration: none;
            }
            &:active{
              text-decoration: none;
            }
            &:focus{
              text-decoration: none;
            }
            .cmpAccordionButton {
                position: relative;
                border: 0;
                padding: 2% 0;
                background: 0;
                font-size: 18px;
                line-height: 24px;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                text-align: left;
                color: $primary-black;
                background-color: $secondary-blue-light;
            
            &.preSurgery{
                border-left: 3px solid $side-border-blue;
            }
            &.Surgery{
                border-left: 3px solid $side-border-orange;
            }
            &.followUp{
                border-left: 3px solid $side-border-green;
            }
            &:hover {
                color: $primary-blue-light;
            }
            .cmpAccordionTitle {
              width: 50%;

              span {
                &.heading{
                  padding: 1% 14%;
                  display: block;
                  border-right: 0px solid $heading-border;
                  font-weight: 400;
                  font-style: normal;
                  font-size: 14px;
                  color: $heading-color;
                  text-decoration: none;
                }
                &.days{
                  padding: 1% 14%;
                  display: block;
                  font-weight: 300;
                  font-style: normal;
                  font-size: 14px;
                  color: $primary-grey-dark;
                  line-height: 20px;
                  text-decoration: none;
                }
              }
            }
            .rightTile{
              width: 50%;

              span {
                &.amount{
                  padding: 0% 12% 0 0;
                  display: block;
                  width: 100%;
                  text-align: right;
                  float: right;
                  font-weight: 700;
                  font-style: normal;
                  font-size: 14px;
                  color:$primary-grey-dark;
                  text-align: right;
                  line-height: 23px;
                  text-decoration: none;
                }
                &.cmpAccordionIcon {
                  display: block;
                  text-align: right;
                  width: 100%;
                  padding: 0 14% 0 0;
                  color: $primary-blue-light;
                  text-decoration: none;
      
                  &:before {
                    content: '\f106';
                    font-size: 25px;
                  }
                }
              }
            }
            }
            &.collapsed {
              .cmpAccordionButton{
                background-color: $color-background;
                .rightTile {
                  .cmpAccordionIcon:before {
                    color: $icon-color;
                    content: '\f107';
                  }
                }
              }
            }
          }
        }
      }
      .panel-collapse{
        border-top: 1px solid $heading-border;
        background-color: $color-background;
        margin-top: -7px;
        .text{
          padding: 2.5% 0;
          .cmpText {
            padding: 0 7.5%;

            p {
              color: $primary-grey-dark;
              font-size: 14px;
              margin-top: 4%;
              &.textnote{
                margin-top: 4%;
                font-size: 14px;
                color: $primary-grey-dark;
                .show_hide{
                  text-decoration: none;
                  &:hover{
                    text-decoration: none;
                  }
                  &:active{
                    text-decoration: none;
                  }
                  &:focus{
                    text-decoration: none;
                  }
                }
                span{
                  display:inline;
                }
              }
              &.textHeading{
                font-size: 15px;
                color: $heading-color;
                span{
                  float: right;
                  color:$color-foreground;
                }
              }
              &.textContent{
                font-size: 14px;
                color: $primary-grey-dark;
                padding-bottom: 9%;
                margin-bottom: 4%;
                border-bottom: 1px solid $heading-border;
                .show_hide{
                  text-decoration: none;
                  &:hover{
                    text-decoration: none;
                  }
                  &:active{
                    text-decoration: none;
                  }
                  &:focus{
                    text-decoration: none;
                  }
                }
                span{
                  display:inline;
                }
              }
            }
          }
        }
      }
    }
  }
  @media (min-width: $tablet) {
    .episodicAccordion{
      .panel-group{
        .panel-heading{
          .panel-title{
            margin-top: 5%;
            a{
              .cmpAccordionButton {
                .cmpAccordionTitle {
                  width: 86%;
                  span { 
                    
                    &.heading{
                      padding: 1% 11%;
                      font-size: 28px;
                      display: inline-block;
                      border-right: 1px solid #dddddd;
                    }
                    &.days{
                      font-size: 24px;
                      display: inline-block;
                      padding: 1% 7%;
                    }
                  }
                }
                .rightTile{
                  span {
                    &.amount{
                      padding: 8% 14% 6%;
                      width: 80%;
                      font-size: 18px;
                      line-height: 20px;
                      display: inline-block;
                      float: left;
                    }
                    &.cmpAccordionIcon {
                      width: 9%;
                      padding: 3% 14% 0 0;
                      display: inline-block;
                      text-align: left;
          
                      &:before {
                        font-size: 45px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .panel-collapse{
          .text{
            .cmpText {
              padding: 0 13% 0 7.5%;
              p {
                font-size: 14px;
                &.textnote{
                  font-size: 14px;
                  padding: 0 19% 0 0;
                  line-height: 30px;
                  .show_hide{
                    text-decoration: none;
                    &:hover{
                      text-decoration: none;
                    }
                    &:active{
                      text-decoration: none;
                    }
                    &:focus{
                      text-decoration: none;
                    }
                  }
                  span{
                    display:inline;
                  }
                }
                &.textHeading{
                  font-size: 18px;
                }
                &.textContent{
                  font-size: 14px;
                  padding: 0 24% 4% 0;
                  .show_hide{
                    text-decoration: none;
                    &:hover{
                      text-decoration: none;
                    }
                    &:active{
                      text-decoration: none;
                    }
                    &:focus{
                      text-decoration: none;
                    }
                  }
                  span{
                    display:inline;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media (min-width: $desktop) {
    .episodicAccordion{
      .panel-group{
        .panel-heading{
          .panel-title{
            a{
              .cmpAccordionButton {
                .cmpAccordionTitle {
                  width: 80%;
                  span {
                    &.heading{
                      padding: 1% 11%;
                      font-size: 26px;
                      width: 51%;
                    }
                    &.days{
                      font-size: 26px;
                    }
                  }
                }
                .rightTile{
                  span {
                    &.amount{
                      padding: 7% 10%;
                      width: 77%;
                      font-size: 22px;
                      line-height: 20px;
                    }
                    &.cmpAccordionIcon {
                      width: 7%;
          
                      &:before {
                        font-size: 45px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .panel-collapse{
          .text{
            .textnote{
              padding: 0 165px 50px 70px;
              font-size: 18px;
              color: $heading-color;
            }
            .cmpText {
              margin: 0 109px 0 45px;
              border-top: 1px solid $heading-border;
              padding: 50px 25px 50px 45px;
              p {
                font-size: 14px;
                
                &.textHeading{
                  font-size: 23px;
                  color: $color-link;
                  margin: 0;
                  a {
                    span{
                      color: $primary-grey-dark;
                      font-size: 21px;

                      &.cmpAccordionIcon {
                        float: left;
                        width: 4%;
                        padding: 0% 3% 0 0;
                        display: inline-block;
                        color: $primary-blue-light;
                        text-align: left;
            
                        &:before {
                          content: '\f106';
                          font-size: 25px;
                        }
                      }
                    }
                    &.collapsed{
                      span{
                        &.cmpAccordionIcon {
                          float: left;
                          width: 4%;
                          padding: 0% 3% 0 0;
                          display: inline-block;
                          color: $primary-blue-light;
                          text-align: left;
                          &:before {
                            content: '\f054';
                            font-size: 16px;
                          }
                        }
                      }
                    }
                  }
                }
                
              }
              div.textContent{
                font-size: 14px;

                .texthead{
                  padding: 0 25px 50px 30px;
                }
                .tablecontent{
                  table{
                    width: 102%;
                    tbody{
                      tr{
                        border-bottom: 1px solid $heading-border;
                        th{
                          background: $color-heading;
                          color:$color-background;
                          width: 27%;
                          font-size: 12px;
                          font-weight: normal;
                          
                          &:first-child{
                            width: 30%;
                            padding: 10px 0 10px 25px;
                            border-radius: 5px 0 0 0;
                          }
                          &:nth-child(2){
                            width:20%;
                          }
                          &:nth-child(3){
                            width: 30%;
                            text-align: center;
                          }
                          
                          &:last-child{
                            padding: 10px 25px 10px 0;
                            border-radius: 0 5px 0 0;
                            text-align: right;
                          }
                        }
                        td{
                          padding: 30px 25px;
                          background-color:$table-td-bg;
                          font-size: 18px;
                          color:$color-heading;
                          &:last-child{
                            font-size: 21px;
                            text-align: right;
                          }
                          span{
                            img{
                              display: inline;
                              margin: 0 10px 0 55px;
                            }
                            &:last-child{
                              font-size: 14px;
                              font-style: italic;
                              color: $primary-grey-mid;
                              display: block;
                            }
                          }
                        }
                        &:nth-child(3){
                          td{
                            span{
                              img{
                                width: 10px;
                                height: 10px;
                                margin-top: -8px;
                                margin-left: 60px;
                              }
                            }
                          }
                        }
                        &:last-child{
                          border-bottom: none;
                          td{
                            background-color:$table-bg;
                          }
                        }
                      }
                    }
                  }
                }
                .show_hide{
                  text-decoration: none;
                  &:hover{
                    text-decoration: none;
                  }
                  &:active{
                    text-decoration: none;
                  }
                  &:focus{
                    text-decoration: none;
                  }
                }
                span{
                  display:inline;
                }
              }
            }
          }
          .cmpAvg{
            padding: 50px 85px;
            background: $color-heading;
            color: $color-background;
            .textHeading{
              color: $color-background;
              font-size: 23px;
              padding: 0 50px 0 0;
              span{
                float: right;
                font-size: 23px;
              }
            }
            .note{
              font-size: 14px;
              color: $color-background;
            }
          }
        }
      }
    }
  }
  @media (min-width: $wide-desktop) {
    .episodicAccordion{
      .panel-group{
        .panel-heading{
          .panel-title{
            a{
              .cmpAccordionButton {
                .cmpAccordionTitle {
                  width: 85%;
                  span {
                    &.heading{
                      padding: 1% 11%;
                      width: 45%;
                      font-size: 30px;
                    }
                    &.days{
                      font-size: 30px;
                    }
                  }
                }
                .rightTile{
                  span {
                    &.amount{
                      padding: 6% 8% 5%;
                      font-size: 28px;
                      line-height: 20px;
                    }
                    &.cmpAccordionIcon {
                      width: 7%;
          
                      &:before {
                        font-size: 50px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .panel-collapse{
          .text{
            .textnote{
              padding: 0 165px 50px 70px;
              font-size: 18px;
              color: $heading-color;
            }
            .cmpText {
              margin: 0 109px 0 45px;
              border-top: 1px solid $heading-border;
              padding: 50px 25px 50px 45px;
              p {
                font-size: 14px;
                
                &.textHeading{
                  font-size: 23px;
                  color: $color-link;
                  margin: 0;
                  a {
                    span{
                      color: $primary-grey-dark;
                      font-size: 21px;

                      &.cmpAccordionIcon {
                        float: left;
                        width: 4%;
                        padding: 0% 3% 0 0;
                        display: inline-block;
                        color: $primary-blue-light;
                        text-align: left;
            
                        &:before {
                          content: '\f106';
                          font-size: 25px;
                        }
                      }
                    }
                    &.collapsed{
                      span{
                        &.cmpAccordionIcon {
                          float: left;
                          width: 4%;
                          padding: 0% 3% 0 0;
                          display: inline-block;
                          color: $primary-blue-light;
                          text-align: left;
                          &:before {
                            content: '\f054';
                            font-size: 16px;
                          }
                        }
                      }
                    }
                  }
                }
                
              }
              div.textContent{
                font-size: 14px;

                .texthead{
                  padding: 0 25px 50px 30px;
                }
                .tablecontent{
                  table{
                    width: 102%;
                    tbody{
                      tr{
                        border-bottom: 1px solid $heading-border;
                        th{
                          background: $color-heading;
                          color:$color-background;
                          width: 27%;
                          font-size: 12px;
                          font-weight: normal;
                          
                          &:first-child{
                            width: 30%;
                            padding: 10px 0 10px 25px;
                            border-radius: 5px 0 0 0;
                          }
                          &:nth-child(2){
                            width:20%;
                          }
                          &:nth-child(3){
                            width: 30%;
                            text-align: center;
                          }
                          
                          &:last-child{
                            padding: 10px 25px 10px 0;
                            border-radius: 0 5px 0 0;
                            text-align: right;
                          }
                        }
                        td{
                          padding: 30px 25px;
                          background-color:$table-td-bg;
                          font-size: 18px;
                          color:$color-heading;
                          &:last-child{
                            font-size: 21px;
                            text-align: right;
                          }
                          span{
                            img{
                              display: inline;
                              margin: 0 10px 0 55px;
                            }
                            &:last-child{
                              font-size: 14px;
                              font-style: italic;
                              color: $primary-grey-mid;
                              display: block;
                            }
                          }
                        }
                        &:nth-child(3){
                          td{
                            span{
                              img{
                                width: 10px;
                                height: 10px;
                                margin-top: -8px;
                                margin-left: 60px;
                              }
                            }
                          }
                        }
                        &:last-child{
                          border-bottom: none;
                          td{
                            background-color:$table-bg;
                          }
                        }
                      }
                    }
                  }
                }
                .show_hide{
                  text-decoration: none;
                  &:hover{
                    text-decoration: none;
                  }
                  &:active{
                    text-decoration: none;
                  }
                  &:focus{
                    text-decoration: none;
                  }
                }
                span{
                  display:inline;
                }
              }
            }
          }
          .cmpAvg{
            padding: 50px 85px;
            background: $color-heading;
            color: $color-background;
            .textHeading{
              color: $color-background;
              font-size: 23px;
              padding: 0 50px 0 0;
              span{
                float: right;
                font-size: 23px;
              }
            }
            .note{
              font-size: 14px;
              color: $color-background;
            }
          }
        }
      }
    }
  }