<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>cmp-informationBox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>

<body class="page basicpage">
<div class="root container responsivegrid">
    <div class="cmp-container">
        <div class="container responsivegrid">
            <div class="cmp-container">
                <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                    <div class="informationBox aem-GridColumn aem-GridColumn--default--12">

                        <!-- Component HTML Goes here -->
                        <section class="cmp-informationBox" style="background-color: #f3fafd;">
                            <img class="cmp-informationBox_icon" src="./static/images/lightbulb_icon.png"
                                 alt="Light Bulb"/>
                            <div class="cmp-informationBox_block">
                                <div class="cmp-informationBox_heading" style="color: #064c7b;">
                                    Out-of-pocket cost with deductible and out-of-pocket maximum applied
                                </div>
                                <div class="cmp-informationBox_text" style="color: #064c7b;">
                                    Select a facility for a detailed estimate of your expected cost (check-in to
                                    check-out).
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>