<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>cmp-procedureDescriptionCostRange</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>

<body class="page basicpage">
<div class="root container responsivegrid">
    <div class="cmp-container">
        <div class="container responsivegrid">
            <div class="cmp-container">
                <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                    <div class="procedureDescriptionCostRange aem-GridColumn aem-GridColumn--default--12">

                        <!-- Component HTML Goes here -->
                        <section class="cmp-procedureDescriptionCostRange container-fluid">
                            <div class="row">
                                <div class="cmp-procedureDescription_block col-md-7">
                                    <h2 class="cmp-procedureDescription_heading">
                                        ACL Reconstruction Surgery
                                    </h2>
                                    <div class="cmp-text__paragraph">
                                        <p>Arthroscopic ACL Repair uses a long thin tube to examine and repair a torn tube to examine and repair a torn.</p>
                                        <button class="show-more_less">Read more</button>
                                    </div>
                                </div>
                                <div class="cmp-procedureCostRange_block col-md-5 offset-lg-1 col-lg-4">
                                    <div class="cmp-procedureCostRange_headline">
                                        This procedure may cost
                                    </div>
                                    <h2 class="cmp-procedureCostRange_metrics">
                                        $1,256 - $1,538
                                        <i class="fal fa-info-circle" tabindex="0"></i>
                                    </h2>

                                    <!-- HTL Parsys or Information Box component Goes here -->
                                    <div class="informationBox aem-GridColumn aem-GridColumn--default--12">
                                        <section class="cmp-informationBox" style="background-color: #f3fafd;">
                                            <img class="cmp-informationBox_icon"
                                                 src="./static/images/lightbulb_icon.png" alt="Light Bulb"/>
                                            <div class="cmp-informationBox_block">
                                                <div class="cmp-informationBox_heading" style="color: #064c7b;">
                                                    Out-of-pocket cost with deductible and out-of-pocket maximum
                                                    applied
                                                </div>
                                                <div class="cmp-informationBox_text" style="color: #064c7b;">
                                                    Select a facility for a detailed estimate of your expected cost
                                                    (check-in to check-out).
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>