<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>cmp-tabs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="page basicpage">
    <div class="root container responsivegrid">
        <div class="cmp-container">
            <div class="container responsivegrid">
                <div class="cmp-container">
                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                        <div class="tabs aem-GridColumn aem-GridColumn--default--12">

                            <!-- Component HTML Goes here -->
                            <div class="cmp-tabs">
                                <ol role="tablist" class="cmp-tabs__tablist" aria-multiselectable="false">
                                    <li role="tab" class="cmp-tabs__tab cmp-tabs__tab--active" tabindex="0"
                                        data-cmp-hook-tabs="tab" aria-selected="true">Cost Explanation
                                    </li>
                                    <li role="tab" class="cmp-tabs__tab" tabindex="-1" data-cmp-hook-tabs="tab"
                                        aria-selected="false">Plan Usage
                                    </li>
                                </ol>
                                <div role="tabpanel" tabindex="0" class="cmp-tabs__tabpanel cmp-tabs__tabpanel--active"
                                    data-cmp-hook-tabs="tabpanel">
                                    <div class="container responsivegrid">
                                        <div class="cmp-container">
                                            <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                                                <div class="heading aem-GridColumn aem-GridColumn--default--12">
                                                    <div class="cmp-heading">
                                                        <h1 class="cmp-heading__text">Find
                                                            Procedure Cost</h1>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" tabindex="0" class="cmp-tabs__tabpanel"
                                    data-cmp-hook-tabs="tabpanel" aria-hidden="true">
                                    <div class="container responsivegrid">
                                        <div class="cmp-container">
                                            <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>