<!DOCTYPE html>
<html lang="en">

<head>
    <title>cmp-drawer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="page basicpage">
    <div class="root container responsivegrid">
        <div class="cmp-container">
            <div class="container responsivegrid">
                <div class="cmp-container">
                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                        <div class="drawer aem-GridColumn aem-GridColumn--default--12">

                            <!-- Component HTML Goes here -->
                            <section class="cmp-drawer container-fluid">
                                <div class="row">
                                    <div class="cmp-drawer_heading col-md-4">
                                        <h2>Frequently Asked Questions</h2>
                                    </div>
                                    <div class="cmp-drawer_block col-md-8">
                                        <div class="cmp-accordion" data-cmp-single-expansion="">
                                            <div class="cmp-accordion__item" data-cmp-hook-accordion="item"
                                                data-cmp-expanded="">
                                                <div class="cmp-accordion__header">
                                                    <button
                                                        class="cmp-accordion__button cmp-accordion__button--expanded cmp-accordion__button--disabled"
                                                        data-cmp-hook-accordion="button" aria-expanded="true"
                                                        aria-disabled="true">
                                                        <span class="cmp-accordion__title">How do I get a procedure cost
                                                            estimate?</span>
                                                        <span class="cmp-accordion__icon fal"></span>
                                                    </button>
                                                </div>
                                                <div data-cmp-hook-accordion="panel"
                                                    class="cmp-accordion__panel cmp-accordion__panel--expanded"
                                                    role="region" aria-hidden="false">
                                                    <div class="container responsivegrid">
                                                        <div class="cmp-container">
                                                            <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                                                                <div
                                                                    class="text aem-GridColumn aem-GridColumn--default--12">
                                                                    <div class="cmp-text">
                                                                        <p>Search for a procedure and select one <a
                                                                                href="#">from our results</a>,
                                                                            then you can choose an in-network provider
                                                                            to get your detailed cost
                                                                            estimate.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cmp-accordion__item" data-cmp-hook-accordion="item">
                                                <div class="cmp-accordion__header">
                                                    <button class="cmp-accordion__button"
                                                        data-cmp-hook-accordion="button" aria-expanded="false">
                                                        <span class="cmp-accordion__title">What can I get a cost
                                                            estimate on and what can I
                                                            not?</span>
                                                        <span class="cmp-accordion__icon fal"></span>
                                                    </button>
                                                </div>
                                                <div data-cmp-hook-accordion="panel"
                                                    class="cmp-accordion__panel cmp-accordion__panel--hidden"
                                                    role="region" aria-hidden="true">
                                                    <div class="container responsivegrid">
                                                        <div class="cmp-container">
                                                            <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                                                                <div
                                                                    class="text aem-GridColumn aem-GridColumn--default--12">
                                                                    <div class="cmp-text">
                                                                        <p><b>Lorem Ipsum</b>&nbsp;is simply dummy text
                                                                            of the printing and
                                                                            typesetting industry. Lorem Ipsum has been
                                                                            the industry's standard dummy
                                                                            text ever since the 1500s, when an unknown
                                                                            printer took a galley of type
                                                                            and scrambled it to make a type specimen
                                                                            book.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cmp-accordion__item" data-cmp-hook-accordion="item">
                                                <div class="cmp-accordion__header">
                                                    <button class="cmp-accordion__button"
                                                        data-cmp-hook-accordion="button" aria-expanded="false">
                                                        <span class="cmp-accordion__title"> How can I get my Blue Cross
                                                            Rewards gift card?</span>
                                                        <span class="cmp-accordion__icon fal"></span>
                                                    </button>
                                                </div>
                                                <div data-cmp-hook-accordion="panel"
                                                    class="cmp-accordion__panel cmp-accordion__panel--hidden"
                                                    role="region" aria-hidden="true">
                                                    <div class="container responsivegrid">
                                                        <div class="cmp-container">
                                                            <div class="title">
                                                                <div class="cmp-title">
                                                                    <h5 class="cmp-title__text">Procedure Search</h5>
                                                                </div>
                                                            </div>
                                                            <div class="text">
                                                                <div class="cmp-text">
                                                                    <p>Sed ut perspiciatis unde omnis iste natus error
                                                                        sit voluptatem accusantium
                                                                        doloremque laudantium, totam rem aperiam, eaque
                                                                        ipsa quae ab illo inventore
                                                                        veritatis et quasi architecto beatae vitae dicta
                                                                        sunt explicabo.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cmp-accordion__item accordion-hidden"
                                                data-cmp-hook-accordion="item">
                                                <div class="cmp-accordion__header">
                                                    <button class="cmp-accordion__button"
                                                        data-cmp-hook-accordion="button" aria-expanded="false">
                                                        <span class="cmp-accordion__title">How do I get a procedure cost
                                                            estimate?</span>
                                                        <span class="cmp-accordion__icon fal"></span>
                                                    </button>
                                                </div>
                                                <div data-cmp-hook-accordion="panel"
                                                    class="cmp-accordion__panel cmp-accordion__panel--hidden"
                                                    role="region" aria-hidden="true">
                                                    <div class="container responsivegrid">
                                                        <div class="cmp-container">
                                                            <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                                                                <div
                                                                    class="text aem-GridColumn aem-GridColumn--default--12">
                                                                    <div class="cmp-text">
                                                                        <p>Search for a procedure and select one from
                                                                            our results, then you can
                                                                            choose an in-network provider to get your
                                                                            detailed cost estimate.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cmp-accordion__item accordion-hidden"
                                                data-cmp-hook-accordion="item">
                                                <div class="cmp-accordion__header">
                                                    <button class="cmp-accordion__button"
                                                        data-cmp-hook-accordion="button" aria-expanded="false">
                                                        <span class="cmp-accordion__title">How do I get a procedure cost
                                                            estimate?</span>
                                                        <span class="cmp-accordion__icon fal"></span>
                                                    </button>
                                                </div>
                                                <div data-cmp-hook-accordion="panel"
                                                    class="cmp-accordion__panel cmp-accordion__panel--hidden"
                                                    role="region" aria-hidden="true">
                                                    <div class="container responsivegrid">
                                                        <div class="cmp-container">
                                                            <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
                                                                <div
                                                                    class="text aem-GridColumn aem-GridColumn--default--12">
                                                                    <div class="cmp-text">
                                                                        <p>Search for a procedure and select one from
                                                                            our results, then you can
                                                                            choose an in-network provider to get your
                                                                            detailed cost estimate.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="cmp-link__text show-all">View More FAQs</button>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>