<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>cmp-episodicDetails</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="page basicpage">
    <div class="root container responsivegrid">
        <div class="cmp-container">
            <div class="container responsivegrid">
                <div class="cmp-container">
                    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">

                        <!-- Component HTML Goes here -->
                        <section class="cmp-episodicDetails">
                        <div class="cmp-episodicDetails_cost-breakdown-container">
                            <ul class="cmp-episodicDetails_cost-breakdown-block">
                                <li class="cmp-episodicDetails_cost-breakdown-presurgery">
                                    <div>Pre-Surgery</div>
                                    <div>
                                        <span>36 days</span>
                                    </div>
                                    <div>
                                        <span>$667</span>
                                    </div>
                                </li>
                            </ul>
                        </div>   
                        <div class="cmp-episodicDetails_cost-breakdown-container">
                            <ul class="cmp-episodicDetails_cost-breakdown-block">
                                <li class="cmp-episodicDetails_cost-breakdown-surgery">
                                    <div>Surgery</div>
                                    <div>
                                        <span>1 day</span>
                                    </div>
                                    <div>
                                        <span>$5,531</span>
                                    </div>
                                </li>
                            </ul>
                        </div> 
                        
                        <div>
                        <p>
                            Your doctor(s) will perform the procedure you chose. Your surgical team will provide care before and after your surgery. <a>Learn more</a>
                        </p>
                        <div class="cmp-episodicDetails_episodic-heading">
                            <p>Consultation and Management</p>
                            <span>$56</span>
                        </div>  
                        <div class="cmp-episodicDetails_episodic-description">
                            <p>During a consultation, your doctor may discuss your treatment plan, give you a physical, recommend health services or equipment, or refer you to other providers.</p>
                            </div>
                            <div class="cmp-episodicDetails_episodic-heading">
                                <p>Facilty Cost</p>
                                <span>$5,207</span>
                            </div>  
                            <div class="cmp-episodicDetails_episodic-description">
                                <p>Your doctor may tell you to go to a specific facility to receive treatment. You may be able to reduce the cost of your treatment by selecting a different facility. <a>Learn more</a></p>
                                </div>
                                <div class="cmp-episodicDetails_episodic-heading">
                                    <p>Procedures</p>
                                    <span>$1,749</span>
                                </div>  
                                <div class="cmp-episodicDetails_episodic-description">
                                    <p>Your doctor may recommend a procedure in order to better understand, diagnose, or improve your health condition. <a>Learn more</a></p>
                                    </div>
                                </div>
                                    <div class="cmp-episodicDetails_cost-breakdown-container">
                                        <ul class="cmp-episodicDetails_cost-breakdown-block">
                                            <li class="cmp-episodicDetails_cost-breakdown-followup">
                                                <div>Follow-up</div>
                                                <div>
                                                    <span>59 days</span>
                                                </div>
                                                <div>
                                                    <span>$567</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div> 
                    </section>     